.sidebar {
  padding: 12px;
  margin-right: 20px;
}

.nav {
  display: flex;
  flex-direction: column;
}

.navLink {
  height: 40px;
  padding: 0 12px;
  display: flex;
  align-items: center;
  gap: 24px;
  border-radius: 10px;
  font-size: 14px;

  &:hover {
    background: rgba(255, 255, 255, 0.1);
  }
}

.divider {
  height: 1px;
  width: 100%;
  margin: 12px 0;
  background: rgba(255, 255, 255, 0.2);
}
