.container {
  max-width: 1400px;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.iframe {
  aspect-ratio: 16 / 9;
  width: 100%;
  height: auto;
  border-radius: 12px;
}

.videoTitle {
  margin-top: 12px;
  font-size: 20px;
  font-weight: 700;
}

.videoInfoContainer {
  margin-top: 12px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.videoInfo {
  font-size: 14px;
  line-height: 2rem;
  font-weight: 700;
}

.channelAvatarLink {
  display: block;
  flex-shrink: 0;
  position: relative;
  width: 32px;
  height: 32px;
  background: gray;
  border-radius: 50%;
  z-index: 1;

  .hiddenText {
    overflow: hidden;
    width: 0;
    height: 0;
    opacity: 0;
  }

  &:hover {
    background: #bbbbbb;
  }
}

.channelAvatar {
  border-radius: 50%;
  object-fit: cover;
}

.channelNameLink {
  font-weight: 700;
  font-size: 14px;
}

.descriptionContainer {
  margin: 12px 0 20px;
  padding: 12px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
}

.shortDescription {
  &:hover .moreButton {
    text-decoration: underline;
  }
}

.moreButton {
  cursor: pointer;
  font-weight: 700;
}

.description {
  display: inline-block;
  font-size: 14px;
  line-height: 1.5;
  white-space: pre-wrap;
  font-weight: 500;
  color: #fff;
}

.link {
  color: #3ea6ff;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
