.container {
  padding-bottom: 32px;
}

.categoriesContainer {
  margin-bottom: 24px;
  display: flex;
  gap: 8px;
}

.categoryLink {
  padding: 8px 16px;
  border: 1px solid gray;
  border-radius: 12px;

  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
}

.activeCategoryLink {
  background-color: white;
  color: black;
  pointer-events: none;
}
