.container {
  padding-bottom: 32px;
}

.categoriesContainer {
  display: flex;
  gap: 8px;
}

.categoryLink {
  padding: 8px 16px;
  border: 1px solid gray;
  border-radius: 12px;

  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
}

.activeCategoryLink {
  background-color: white;
  color: black;
  pointer-events: none;
}

.videoGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.videoBlock {
  position: relative;
  padding: 8px;

  &:hover .videoOverlayLink {
    background-color: rgba(255, 255, 255, 0.2);
  }
}

.videoPreview {
  display: flex;
  width: 100%;
  aspect-ratio: 16/9;
}

.videoImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.imgBlur {
  filter: blur(5px);
  transition: filter 0.3s ease-in;
}

.videoInfoContainer {
  display: flex;
  gap: 12px;
  margin-top: 12px;
}

.channelAvatarLink {
  display: block;
  flex-shrink: 0;
  position: relative;
  width: 32px;
  height: 32px;
  background: gray;
  border-radius: 50%;
  z-index: 1;

  .hiddenText {
    overflow: hidden;
    width: 0;
    height: 0;
    opacity: 0;
  }

  &:hover {
    background: #bbbbbb;
  }
}

.videoInfo {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.videoPreview,
.videoTitleLink,
.channelNameLink {
  position: relative;
  z-index: 1;
}

.videoOverlayLink {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  border-radius: 14px;
  transition: 0.3s background-color ease;
  z-index: 0;
}
